* {
    font-family: Helvetica, Arial, sans-serif;
}

input {
    color: grey;
    font-size: 1.2rem;
    width: 99%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card {
    align-content: center;
    overflow: hidden;
    margin-bottom: 10px;
    margin-right: 10px;
}


.row-start {
    display: flex;
}